/*此文件不需要修改*/


/*层级：*/
/*顶部菜单：98*/
/*顶部菜单上的列表：99*/
/*顶部菜单旁边的搜索框：100*/
/*侧边栏菜单：150*/
/*开启关闭侧边菜单的按钮：10000*/


/*隐藏*/
#sideBarMain{
  display:none;
}
#navigator{
  display:none;
}
#blogTitle h1,#blogTitle a{/*主标题*/
  display:none;
}
#blogTitle h2{
  display:none;
}
/*最底下的广告*/
#cnblogs_c1 #under_post_news { display:none;}
.c_ad_block{display:none;}
#ad_t2{display:none;}
.recomm-block{display:none;}
#opt_under_post{display:none;}
#cnblogs_c1{display:none;}
#under_post_card1{display:none;}
#cnblogs_c2{display:none;}
#under_post_card2{display:none;}
#cnblogs_ch{display:none;}

/*
#p_b_follow{display:none;}
*/

/********************************************************/

/*公用部分*/
body{
  background-color:#EFEFEF;
  font-size:14px;
  font-family:"微软雅黑","宋体",Arial;
  overflow:auto;
  margin:0px;
  top:0px;
  width:100%;
  position:absolute !important;
}
hr{
  opacity:0.45;
}
/*公用超链接*/
a:link{color:#0055F4;}
a:visited{color:#0055F4;}
a:hover{
  color:#228B22;
}
a{text-decoration:none;}
/*图片*/
img{
  overflow: scroll;
}
/*引用*/
blockquote{
	padding-right:20px;
	padding-left:20px;
	padding-top:10px;
	padding-bottom:10px;
	margin:0px;
	margin-bottom:20px;
	border-left:5px solid #EEE;
	border-top:0px;
	border-bottom:0px;
	border-right:0px;
}

/***************************************************************/

/*顶部*/
/*顶部除封面和菜单以外内容被隐藏，代码保留*/

/*博客标题与导航栏部分*/

.blogStats{
  color:#FFFFFF;
}

/*标题颜色*/
#blogTitle a{text-decoration:none;}
#blogTitle a:link{color:#2F4F4F;}
#blogTitle a:visited{color:#2F4F4F;}
#blogTitle a:hover{color:#008080;}


#lnkBlogLogo{
  display:none;
}

/****************************/

/*上方的菜单*/
/*菜单和标题的切换用 js 实现*/
#topMenu{
	position:fixed;
	z-index:98;
	width:100%;
	height:55px;
	top:0px;
	left:0px;
	overflow:hidden;
	
	box-shadow:2px 2px 2px #888888;
	background-color:#FFFFFF;
	font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,
	Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
	/*向上翻的变换动画*/
	transition: 0.23s;
	-webkit-transition: 0.23s;
	-o-transition:0.23s;
	-moz-transition: 0.23s;
	-ms-transition: 0.23s;
}
#topMenuMain{
	width:70%;
/*	min-width:800px;*/
	height:55px;
	margin-bottom:0px;
	margin-top:0px;
	padding:0px;
	right:0px;
	margin-right:auto;
	margin-left:auto;
	top:0px;
	overflow:hidden;
	word-break:break-all;
	background-color:#FFFFFF;
	position:relative;
}
#topMenuUl{
/*	min-width:800px;*/
	height:100%;
	margin:0px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:25px;
	padding-right:25px;
	right:0px;
	top:0px;
	overflow:hidden;
	word-break:break-all;
	background-color:#FFFFFF;
	position:relative;
}
#topMenu li{
	display:inline-block;
}

#showHideNarrowTopmenuLi #showHideNarrowTopmenuButton{
	display:none;
}

@media only screen and (max-width:1400px){
	#home{
		width:80% !important;
	}
	#topMenuMain{
		width:80% !important;
	}
}
@media only screen and (max-width:870px){
	#home{
		width:100% !important;
	}
	#topMenuMain{
		width:100% !important;
	}
	#topMenuSearch2{
		display:block !important;
	}
	#showHideNarrowTopmenuLi{
		color:#FFFFFF;
		display:inline-block !important;
		margin:0px;
		padding:0px;
		border:0px;
		height:100%;
		width:20px;
		vertical-align:middle;
	}
	#showHideNarrowTopmenuButton{
		display:block !important;
		background-color:#FFFFFF;
		border:0px;
		margin:0px;
		margin-top:7.5px;
		padding-top:10px;
		padding-bottom:10px;
		padding-left:0px;
		padding-right:0px;
		width:100%;
		height:40px;
	}
	.showHideNarrowTopmenuButtonPart{/*num: 3,tot: 40px; same as the title name*/
		display:block !important;
		background-color:#1396DB;/*same as the search box (blue)*/
		width:20px;
		height:2px;
		border-radius:1px;
		display:block;
		margin-top:2px;
		margin-bottom:2px;
		margin-left:auto;
		margin-right:auto;
	}
	
	#first_page_with_name{
		position:absolute;
		text-align:center;
		left:50%;
		transform:translateX(-50%);
	}
	.big_a_top{
		padding:0px !important;
		margin:0px;
		text-align:center;
	}
}

#topMenuSearch{/*This is really a big shit*/ /*This is on the top*/
	position:absolute !important;
	right:25px !important;
	top:12.5px !important;
}
#topMenuSearch2{/*This is in the sidebar*/
	position:relative !important;
	padding-top:8px;
}
.big_a_top{
	outline:none;
	font-size:35px;
	color:#1396DB !important;
	font-weight:bold;
	font-family:"Georgia",serif;
	text-shadow:1px 1px 1px #888888;
	padding-left:0px;
	padding-bottom:0px;
	padding-top:0px;
	padding-right:20px;
	margin:0px;
	text-align:left;
	line-height:55px;
	vertical-align:middle;
}
.normal_a_top{
	padding-top:0px;
	padding-bottom:0px;
	padding-left:20px;
	padding-right:20px;
	margin:0px;
	color:#8590a6 !important;
	line-height:55px;
	vertical-align:middle;
}
li.othersInTopmentUl:hover{
	background-color:#DCDCDC !important;
}
li.othersInTopmentUl:hover > a{
	color:#1a1a1a !important;
}
@media only screen and (max-width:870px){
	#narrowTopmenu{
		display:block !important;
	}
	.othersInTopmentUl{
		display:block !important;/*In fact i don't know why it should be a !important*/
		width:100%;
		height:30px;
		position:relative;
	}
	#topMenuSearch{
		display:none !important;/*In fact i don't know why it should be a !important*/
		width:100%;
		height:30px;
		position:relative;
	}
}

/*****narrowTopmenu****/
#narrowTopmenu{
/*	width:0px;
	height:0px;
*/
	display:none;
	transform:translate(-100%,-100%) scale(0);
	-moz-transform:translate(-100%,-100%) scale(0);
	-webkit-transform:translate(-100%,-100%) scale(0);
	
	position:fixed;
	left:25px;
	top:55px;
	z-index:100000;
/*	background-color:#FCFDFDFD;*/
	background-color:#FFFFFF;
/*	
	border:2.8px solid rgba(20,23,34,0.8);
	border-top:0px;
*/
	box-shadow:2px 2px rgba(20,23,34,50%);
	border-right:0px solid;
	border-bottom:0px solid;
	border-left:1px solid rgba(20,23,34,60%);
	border-top:1px solid rgba(20,23,34,60%);
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	overflow:hidden;
}
#narrowTopmenuUl{
	padding:0px;
	margin:0px;
	list-style:none;
}
.narrowTopmenuUlproperty{
	border-top:1px solid rgba(56,100,98,0.3);
	width:100px;
}
.narrowTopmenuUlproperty a{
	color:#8590a6 !important;
	line-height: 40px;
    vertical-align: middle;
	margin:0px;
	padding:0px;
	padding-left:5px;
	font-size:14px;
}
li.narrowTopmenuUlproperty:hover{
	background-color:#DCDCDC !important;
}
li.narrowTopmenuUlproperty:hover > a{
	color:#1a1a1a !important;
}

/*搜索框*/
#search{
	margin:0px;
	padding:0px;
	float:right;
	line-height:55px;
}
#widget_my_google{
  display:none;
}

#new_widget_my_zzk{
	position:relative;
	top:0px;
	right:0px;
	margin:0px;
}
.new_input_my_zzk{
	background-color:#F6F6F6;
	color:#000000;
	width:150px;
	max-width:150px;
	height:28px !important;
	border:1px solid #ECECEC;
	border-radius:8px;
	outline:none;
	padding-left:10px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
	margin:0px;
	width:180px;
}
.new_btn_my_zzk{
	font-size:12px;
	height:30px !important;
	background-color:#1396DB;
	margin:0px;
	border:0px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	color:#F8F8F8;
	outline:none;
	border-radius:4px;
}

#topMenuSearch2{
	/*窄屏时启用*/
	display:none;
}
#new_btnZzk2{
	background-color:#3671a5 !important;
}

/*隐藏侧边栏原有搜索框     这是什么？*/
#sidebar_search{
	display:none;
}


/*顶部的标题*/
#topTitle{
	position:relative;
	top:0px;
	right:0px;
	width:100vw;
	height:55px;
/*	min-width:800px;*/
	padding-bottom:5px;
	margin:0px;
	font-family:Georgia,serif;
	background-color:#FFFFFF;
	overflow:hidden;
	text-shadow:0.8px 0.8px 0.8px #888888;
}
#topTitle_p{
	text-align:center;
	line-height:55px;
	padding:0px;
	margin:0px;
	font-size:22px;
	color:#000000;
	font-weight:600;
	overflow:hidden;
}


/*******************************封面************************/

/*让它为home让出空间，来让home置顶*/
#page_begin_html{
  position:relative;
  height:100vh;
  overflow:visible;
  font-family:"Georgia",serif;
}

#titlePage{
	overflow-x:hidden;
	overflow-y:hidden;
	display:block;
	width:100%;
	height:100%;
	max-height:100%;
	background-image:url("http://1.s60i.faiusr.com/2/1010/APIHCAIQt9PivwUYzNaQXCCADyj0Aw.jpg");
	background-repeat:no-repeat;
	background-position:center;
	position:absolute;
	margin:0px;
	top:0px;
	left:0px;
	z-index:-10;
	zoom:1;
	background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	vertical-align:middle;
}
#myTitle{
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);   
	-moz-transform: translate(-50%, -50%);   
	-ms-transform: translate(-50%, -50%);   
	-o-transform: translate(-50%, -50%);   
	transform: translate(-50%, -50%);  
	text-align:center;
	padding:0px;
	margin:0px;
	width:100%;
}

/*用户名和一言*/
#userName{
	  display:none;
	  font-weight:bolder;
	  font-family:"Georgia",'Times New Roman',Arial,'Microsoft YaHei',serif;
	  font-size:60px;
	  color:#F5F5F5;
	  font-style:italic;
	  text-shadow:4px 4px 4px #000000;
}

#onePoem,#onePoemTitle{
	font-weight:500;
	color:#F5F5F5;
	text-shadow:1.5px 1.5px 1px #000000;
/*	font-family:'Long Cang',cursive;*/
	font-family:Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei',Georgia, '微软雅黑', Arial, sans-serif;
}
#onePoemTitle{
  display:block;
  font-size:1.3em;
}
#onePoem{
  font-style:italic;
  display:block;
  font-size:1.1em;
}

@media only screen and (max-width:870px){
	
	#onePoem,#onePoemTitle{
		display:none;
	}
	
}

/*****************************************************/

/*菜单公告栏*/

/*导航栏右边三个统计*/
#stats_post_count,#stats_article_count,#stats-comment_count{
  font-size:0.9em;
  font-weight:normal;
  display:inline-block;
  color:#C0C0C0;
}

#sidebar_news h3{
  display:none;
}


#menuList::-webkit-scrollbar{
  width:12px;
  height:100vh;
}
#menuList::-webkit-scrollbar-button{
  display:none;
}
#menuList::-webkit-scrollbar-track{
  background-color:#000000;
  border-radius: 10px;
}
#menuList::-webkit-scrollbar-thumb{
  border-radius:10px;
  background-color: #292929;
}

/*弹出和关闭menu的竖条*/
/*向上向下*/
#menus{
	z-index:10000;
	position:fixed;
	display:block;
	left:0px;
	top:50%;
	margin:0px;
	padding:0px;
	width:35px;
	height:105px;
	-webkit-transform: translate(0, -50%);   
	-moz-transform: translate(0, -50%);   
	-ms-transform: translate(0, -50%);   
	-o-transform: translate(0, -50%);   
	transform: translate(0, -50%);  
}
#menus2{
	z-index:10000;
	position:fixed;
	display:none;
	left:260px;
	top:50%;
	margin:0px;
	padding:0px;
	width:35px;
	height:105px;
	-webkit-transform: translate(0, -50%);   
	-moz-transform: translate(0, -50%);   
	-ms-transform: translate(0, -50%);   
	-o-transform: translate(0, -50%);   
	transform: translate(0, -50%);  
}
#menus button{
	background-color:#202020;
}
#menus2 button{
	background-color:#202020;
}
#menus p{
	color:#FFFFFF;
        margin:auto;
}
#menus2 p{
	color:#FFFFFF;
        margin:auto;
}
	

.gotoTop{
	position:absolute;
	top:0px;
	left:0px;
	width:35px;
	height:35px;
	border-top-right-radius:30%;
	border:0px;
	margin:0px;
	padding:0px;
	border-bottom:1px solid rgba(256,256,256,0.7);
	outline:none;
}
.gotoBottom{
	position:absolute;
	bottom:0px;
	left:0px;
	width:35px;
	height:35px;
	border-bottom-right-radius:30%;
	border:0px;
	margin:0px;
	padding:0px;
	border-top:1px solid rgba(256,256,256,0.7);
	outline:none;
}
.menu{
	position:absolute;
	top:35px;
	left:0px;
	padding:0px;
	margin:0px;
	width:35px;
	height:35px;
	display:block;
	border:0px;
	outline:none;
}

.menu_button{
	box-sizing:bord-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.menu_button:hover{
	border:1.4px #FFFFFF solid;
}

#menuList{
  top:100px;
  font-size:14px;
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
  overflow-x:hidden;
  overflow-y:scroll;
  z-index:150;
  color:#C0C0C0;
  position:fixed;
  background-color:#000000;
  height:100vh;
  width:0px;
  padding-right:0px;
  padding-left:0px;
  left:0px;
  top:0px;
}
.in_menuList{
	margin:0px;
	margin-right:2px;
}

/*menu里的标题*/
.catListTitle{
  width:100%;
  text-align:center; 
}
#menuList a{
  text-decoration:none;
}
#menuList a:link{color:#C0C0C0;}
#menuList a:visited{color:#C0C0C0;}
#menuList a:hover{
  color:#FFFFFF;
  font-wight:bolder;
}
#menuList li{
  list-style-position:inside;
  overflow:hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
  -o-text-overflow: ellipsis;
}
#menuList ul{
  padding:0px;
}

#myNavigator{
  display:block;
  font-weight:normal;
  text-align:left;
  line-height:28px;
}
#myMenu{
  font-weight:normal;
  text-align:left;
  line-height:28px;
}

/*日历*/
#blog-calendar{
  margin-top:20px;
  padding:10px;
  border:1.8px #444444 solid;
  border-radius:14px;
  width:210px;
  color:#A9A9A9;
  font-weight:200;
}
#blog-calendar td{
  width:30px;
  height:30px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
#blog-calendar a{
  text-decoration:none;
  font-weight:700;
}
/*当前天*/
.CalTodayDay{
  background-color:#3671a5;
  border-radius:100%;
  font-wight:bold;
  margin:0px;
  padding:0px;
}

/*最新评论*/
#leftcontentcontainer{/*评论整体*/
	padding:0px;
	margin:0px;
	padding-right:3px;
}
.recent_comment_body p{
	line-height:20px;
	margin:0px;
	white-space:normal;
	overflow:hidden;
}
li.recent_comment_body,li.recent_comment_author{
	list-style-position:outside !important;
}
li.recent_comment_author{
	margin:0px;
	padding-bottom:13px;
	border-bottom:1px solid rgba(192,192,192,0.5);/*#C0C0C0*/
	margin-bottom:13px;
}

/*************************************************************/

/*主页面*/
/*home公用*/
#home{
	font-size:14px;
	width:70%;/*~~will be changed in js~~ it will not be changed in js now*/
	padding:0px;
	right:0px;
	margin-right:auto;
	margin-left:auto; 
	margin-bottom:0px;
	margin-top:0px;
	padding-bottom:30px;
	top:0px;
	overflow-x:auto;
	overflow-y:auto;
	word-break:break-all;
	background-color:#FFFFFF;
	box-shadow:7px 7px  7px #888888;
}
#mainContent {
    min-height: 200px;
	width:100%;
    padding-left:25px !important;
	padding-right:25px !important;
    padding-top:30px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    float: left;
    margin:0px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.post{
  word-break:keep-all;
}


/************hiden**************/
.hiden{
	border:2px solid black;
	border-radius:10px;
	padding-left:5px;
	padding-right:5px;
}


/*文章列表*/
.dayTitle{
  display:none;
}

/*标题，分别是主页面、标签列表、分类列表*/
.postTitle{
	line-height:35px;
	padding-left:10px;
	margin-top:0px;
	margin-bottom:35px;
	border-left:2.5px solid #008080;
	font-size:1.8em;
	font-weight:500;
	transition:padding-left 0.3s;
	-moz-transition:padding-left 0.3s;
	-webkit-transition:padding-left 0.3s;
	-o-transition:padding-left 0.3s;
	-ms-transition:padding-left 0.3s;
}
.postTitl2{
	line-height:35px;
	padding-left:10px;
	margin-top:20px;
	margin-bottom:8px;
	border-left:2.5px solid #008080;
	font-size:1.8em;
	font-weight:500;
	transition:padding-left 0.3s;
	-moz-transition:padding-left 0.3s;
	-webkit-transition:padding-left 0.3s;
	-o-transition:padding-left 0.3s;
	-ms-transition:padding-left 0.3s;
}
.entrylistPosttitle{
	line-height:35px;
	padding-left:10px;
	margin-top:0px;
	margin-bottom:35px;
	border-left:2.5px solid #008080;
	font-size:1.8em;
	font-weight:500;
	transition:padding-left 0.3s;
	-moz-transition:padding-left 0.3s;
	-webkit-transition:padding-left 0.3s;
	-o-transition:padding-left 0.3s;
	-ms-transition:padding-left 0.3s;
}

#cb_post_title_url{
  font-size:38px;
}

/*标题向外移动的特效*/
.postTitle:hover{
  padding-left:50px;
}
.postTitl2:hover{
  padding-left:50px;
}
.entrylistPosttitle:hover{
  padding-left:50px;
}


a.postTitle2:link{color:#008080}
a.postTitle2:visited{color:#008080}
a.postTitle2:hover{color:#008080;}

a.vertical-middle:link{color:#008080}
a.vertical-middle:visited{color:#008080}
a.vertical-middle:hover{color:#008080;}


a.entrylistItemTitle:link{color:#008080}
a.entrylistItemTitle:visited{color:#008080}
a.entrylistItemTitle:hover{color:#008080;}

.postDesc{
  line-height:100%;
  font-size:0.8em;
  text-align:right;
  border-bottom:1px solid #D3D3D3;
  margin-bottom:30px;
  padding-bottom:25px;
}
a.postDesc:link{color:#000000;}
a.postDesc:visited{color:#000000;}
a.postDesc:hover{color:#0055F4;}
a.postDesc{text-decoration:none;}

.entrylistItemPostDesc{
  color:#000000;
  line-height:100%;
  font-size:0.8em;
  text-align:right;
  border-bottom:1px solid #D3D3D3;
  margin-bottom:30px;
  padding-bottom:25px;
}
a.entrylistItemPostDesc:link{color:#000000;}
a.entrylistItemPostDesc:visited{color:#000000;}
a.entrylistItemPostDesc:hover{color:#0055F4;}
a.entrylistItemPostDesc{text-decoration:none;}


/*阅读全文*/
.c_b_p_desc_readmore{
  font-size:14px;
  display:block;
  border-radius:10px;
  padding-top:4px;
  padding-bottom:4px;
  font-weight:500;
  width:84px;
  text-align:center;
  margin:3px;
  border:1px solid black;
  transition:border 0s;
}
a.c_b_p_desc_readmore:after{
  content:">>";
}
a.c_b_p_desc_readmore{color:#000000;}
a.c_b_p_desc_readmore:hover{
  color:#0055F4;
  border:1px solid #0055F4;
}
a.c_b_p_desc_readmore{text-decoration:none;}


/**************文章内************/
#cnblogs_post_body{
  font-size:14px;
  line-height:25px;
}

/*文章的大标题*/
#mainContent h1{
  line-height:35px;
  padding-left:10px;
  margin-top:0px;
  margin-bottom:35px;
  border-left:2.5px solid #008080;
  font-size:2.2em;
  font-weight:700;
  color:#008080 !important;
  transition:padding-left 0.3s;
  -moz-transition:padding-left 0.3s;
  -webkit-transition:padding-left 0.3s;
  -o-transition:padding-left 0.3s;
}
#mainContent h1:hover{
  padding-left:50px;
}


/**********************文章尾部************/

/*评论区*/

/*评论上方的一块*/
#blog_post_info_block a{
  text-decoration:none;
}
#blog_post_info_block a:hover{
  text-decoration:none;
}

/*评论内容*/
.feedback_area_title{
  padding:10px;
  margin:10px;
/*  width:58px;*/
  background-color:#4169E1;
  color:#F5F5F5;
}

#blog-comments-placeholder a{text-decoration:none;}  
#blog-comments-placeholder{
  padding-left:0px;
}

.feedbackItem{
  padding:10px;
  margin:10px;
  border:2px solid #C0C0C0;
  box-shadow:3px 3px 3px #888888;
  display:block;
  position:relative;
}
.feedbackListSubtitle{
  width:auto;
  margin-bottom:7px;0
  margin-top:7px;
}
.feedbackManage {
    position: absolute;
    right:10px;
    top:7px;
}
.layer{
  background-color:#4169E1;
  color:#F5F5F5;
  padding:5px;
}
.layer:active, .layer:hover, .layer:link, .layer:visited {
    color: #F5F5F5 !important;
}
.feedbackManage a:link{color:#4169E1;}
.feedbackManage a:visited{color:#4169E1;}
.feedbackManage a:hover{
  color:#F8F8F8;
  background-color:#4169E1;
}
.feedbackManage a{
  text-align:center;
  padding:7px;
}
.comment_digg a:link{color:#4169E1;}
.comment_digg a:visited{color:#4169E1;}
.comment_digg:hover{
  color:#F8F8F8;
  background-color:#4169E1;
}
.comment_digg{
  text-align:center;
  padding:7px;
}
.comment_burry a:link{color:#4169E1;}
.comment_burry a:visited{color:#4169E1;}
.comment_burry:hover{
  color:#F8F8F8;
  background-color:#4169E1;
}
.comment_burry{
  text-align:center;
  padding:7px;
}

.commentform{
  margin-top:40px;
  margin-left:10px;
}
.comment_btn{
  padding:10px;
  margin:10px;
  border:0px;
  border-radius:10%;
  width:88px;
  height:38px;
  background-color:#4169E1;
  color:#F5F5F5;
}
.comment_btn:hover{
  color:#F5F5F5;
  background-color:#40E0D0;
}

/*推荐，实际位置在右下角*/
#div_digg{
  position:fixed;
  bottom:50px;
  right:10px;
  width:50px;
  margin:0px;
}
.diggword{
  word-wrap:break-word;
}
.buryit{
  display:none;
}

/*************************************/

/*底部*/

/*翻页*/
#nav_next_page a{
  float:right;
  font-size:14px;
  display:block;
  border-radius:10px;
  padding-top:4px;
  padding-bottom:4px;
  font-weight:500;
  width:84px;
  text-align:center;
  margin:3px;
  border:1px solid black;
  transition:border 0s;
  color:#000000;
}

#nav_next_page a:after{
  content:">>";
}
#nav_next_page a:hover{
  color:#0055F4;
  border:1px solid #0055F4;
}
#nav_next_page a{text-decoration:none;}


/*翻页*/
.pager a{
  border:1px solid #000000;
  border-radius:0px;
  padding-top:3px;
  padding-bottom:3px;
  padding-left:10px;
  padding-right:10px;
  transition:border 0s;
  color:#000000;
  text-align:center;
}
.pager a:hover{
  color:#0055F4;
  border:1px solid #0055F4;
}
.pager p{color:#000000;}

/*上面的翻页*/
#homepage_top_pager{
  margin-bottom:35px;
  border-bottom:1px #888888 solid;
}
/*下面的翻页*/
#homepage_bottom_pager{
  padding-bottom:25px;
  border-bottom:1px solid #D3D3D3;
  margin-bottom:30px;
}
	

/********************************************************/

/*页脚*/
#footer{
  padding:20px;
  margin-left:30px;
  float:left;
}

#bottom{
  padding-bottom:30px;
  margin-top:30px;
  padding-top:20px;
  border-top:1px #C0C0C0 solid;
  margin-left:0px;
  margin-right:0px;
  font-weight:300 !important;
  font-size:7px;
  line-height:13px;
}

/*博客时间*/
#date{
  text-align:center;
  font-weight:lighter;
}

#myBlogStyle{
  text-align:center;
}
.myBlogStyleClass{
  display:inline-block;
}


/***************************************************/

/*右下角功能*/
#p_b_follow{
  position:fixed;
  right:15px;
  bottom:25px;
  background-color:#40E0D0;
  width:41px;
  height:20px;
  border:0px;
  border-radius:30%;
  color:#F5F5F5;
  text-align:center;
  padding:2.5px;
  z-index:100;
  font-size:10px !important;
}
#p_b_follow{color:#F5F5F5 !important;}
#p_b_follow:hover{
  background-color:#90EE90;
}
#p_b_follow a{
	color:#F5F5F5 !important;
}

/*****************************/


/********************* 代码显示 **********************/

/* 行内代码 */
#mainContent code:not(.line-numbers):not(.highlighter-prismjs):not(.language-c):not(.language-cpp):not(.prismjs-lines-highlighted){
	margin: 0 2px;
	padding: 0 5px;
	white-space: nowrap;
	border: 1px solid #eaeaea;
	background-color: #f8f8f8;
	color: #e83e8c;
}


/*****************************************/

/***********************展开、隐藏内容按钮******************/


.ShowAndHideButton{
	
  padding-right:8px;
  padding-left:8px;
  padding-top:4px;
  padding-bottom:4px;
  margin-right:0px;
  margin-left:0px;
  margin-top:4px;
  margin-bottom:4px;
  border:0px;
  border-radius:15%;
  width:58px;
  height:25px;
  background-color:#1E90FF;
    color: #F5F5F5;
    box-shadow: 2px 2px grey;
    outline: none !important;
	transition: .2s;
}
.ShowAndHideButton:hover{
	width:70px;
	height:40px;
	background-color:orangered;
}

.AlwaysHideButton{
	
  padding-right:8px;
  padding-left:8px;
  padding-top:4px;
  padding-bottom:4px;
  margin-right:0px;
  margin-left:0px;
  margin-top:4px;
  margin-bottom:4px;
  border:0px;
  border-radius:15%;
  width:58px;
  height:25px;
  background-color:#1E90FF;
    color: #F5F5F5;
    box-shadow: 2px 2px grey;
    outline: none !important;
	transition: .2s;
  font-size: 12px;
}
.AlwaysHideButton:hover{
	width:70px;
	height:40px;
	background-color:orangered;
}

/*******************************************/

#footer{
	display: none;
}
#others{
	margin: 10px 0 0 0;
	text-align: center;
	    line-height: 20px;
}


